<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="IssuetrackingConnectionString" connectionString="Data Source=JAYA-CHAKRAPANI;Initial Catalog=Issuetracking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IssuetrackingConnectionString2" connectionString="Data Source=.\;Initial Catalog=Issuetracking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IssuetrackingConnectionString3" connectionString="Data Source=JAYA-CHAKRAPANI;Initial Catalog=Issuetracking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IssuetrackingConnectionString4" connectionString="Data Source=JAYA-CHAKRAPANI;Initial Catalog=Issuetracking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
